@use "./partials/reset.scss";
@use "./partials/variables.scss";
@use "./partials/header.scss";
@use "./partials/footer.scss";
@use "./partials/home.scss";
@use "./partials/portfolio.scss";
@use "./partials/service.scss";
@use "./partials/about.scss";