@use 'variables.scss';

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: variables.$text-darkbrown;


    .footer_content {
        text-align: center;

        .logo {
            .logo_img {
                width: 5rem;
            }

            font-size: 1.2rem;

            div {
                color: variables.$text-black;
                font-size: 1.5rem;
            }
        }

        .subtitle {
            margin: 1.5rem 0 0 0;
            font-size: .875rem;
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin: 1rem 1rem;
            }
        }

        .footer_menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1.625rem;
            margin: 0 3rem;
            border-top: .0625rem solid variables.$text-black;
            border-bottom: .0625rem solid variables.$text-black;

            a {
                color: inherit;
                text-decoration: none;
            }

            .underline {
                text-decoration: underline;
            }

            .dummy {
                display: none;
            }
        }

        .copy-right {
            padding: 2rem;
            font-family: variables.$copyright-font;
        }

        @media (max-width: 768px) {
            .logo {
                .logo_img {
                    width: 4rem;
                }
            }

            .footer_menu {
                flex-wrap: wrap;

                a {
                    width: 50%;
                    text-align: center;
                }

                .dummy {
                    display: block;
                }
            }
        }
    }
}