@use 'variables.scss';

.message-box-btns {
    position: fixed;
    right: 0;
    bottom: 35vh;

    .msgbox {
        opacity: 0;
        transition: all 1s ease-in-out;

        &.open {
            opacity: .8;
        }
    }

    button {
        width: 60px;
        height: 60px;

        i {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &.msgbox-open {
            opacity: .8;
            position: absolute;
            bottom: 0;
            background-color: variables.$dark-pink;
            /* after scroll */
            z-index: 100;
            transition: all .3s ease-in-out;

            i {
                background-image: url(./../../img/common/i-msgbox_open.svg);
            }

            &.hide {
                opacity: 0;
                z-index: 0;
            }
        }

        &.msgbox-instagram {
            background-color: variables.$msgbox-pink;

            i {
                background-image: url(./../../img/common/i-msgbox_instagram.svg);
            }
        }

        &.msgbox-call {
            background-color: variables.$msgbox-skyblue;

            i {
                background-image: url(./../../img/common/i-msgbox_call.svg);
            }
        }

        &.msgbox-messenger {
            background-color: variables.$msgbox-green;

            i {
                background-image: url(./../../img/common/i-msgbox_messenger.svg);
            }
        }

        &.msgbox-close {
            background-color: variables.$black;

            i {
                background-image: url(./../../img/common/i-msgbox_close.svg);
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
    }
}

body.top {
    .message-box-btns {
        button.msgbox-open {
            background-color: variables.$black;
        }
    }
}

body.burgerOpen {
    .message-box-btns {
        display: none;
    }
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}