@use "variables";
@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

button,
label {
    cursor: pointer;
}

.portfolio {
    text-align: center;
    margin-bottom: 42px;
    .page-header {
        padding: 16px 0 24px;
        h2 {
            font-family: "Baskervville", serif;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            color: variables.$text-darkbrown;
            position: relative;
            padding-bottom: 24px;
            margin-bottom: 24px;
            font-weight: 400;
            letter-spacing: 13px;
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 139px;
                height: 1px;
                background-color: #E3B6B1;
            }
        }
        p {
            font-size: 16px;
            font-family: "Nunito", sans-serif;
            padding: 2rem;
        }
    }
    .page-tabs {
        margin-bottom: 24px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            .page-tab {
                border-bottom: 1px solid #888;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 50%;
                    bottom: -1px;
                    transition: all .3s ease-in-out;
                    transform: translateX(-50%);
                }
                &.on {
                    .btn-tab {
                        color: #181818;
                    }
                    &::after {
                        background-color: #181818;
                    }
                }
            }
            .btn-tab {
                color: #888;
                font-size: 24px;
                padding: 16px 50px;
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;
                position: relative;
                font-family: "Baskervville", serif;
            }
        }
    }
    .page-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAE9E7;
        padding: 24px 0 40px;
        ol, ul, li {
            list-style: none;
        }
        article {
            &.hide {
                display: none;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 12px;
            }
            li {
                display: none;
                overflow: hidden;
                &.show {
                    display: block;
                }
            }
            img {
                width: 100%;
            }
        }
        .btn-more {
            border: 1px solid variables.$text-darkbrown;
            color: variables.$text-darkbrown;
            padding: 15px 32px;
            background-color: transparent;
            font-size: 20px;
            margin-top: 30px;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: variables.$text-darkbrown;
                color: #fff;
            }
        }
    }
}

@media (min-width: 720px) {
    .portfolio {
        .page-header {
            h2 {
                font-size: 80px;
                line-height: 80px;
                padding-bottom: 24px;
                margin-bottom: 24px;
                &::after {
                    width: 200px;
                }
            }
            p {
                font-size: 18px;
            }
        }
        .page-contents {
            padding-bottom: 120px;
            article {
                ul {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 16px;
                    li {
                        width: 335px;
                        height: 347px;
                    }
                }
            }
            .btn-more {
                padding: 19px 32px;
                margin-top: 60px;
            }
        }
    }
}

@media (min-width: 1000px) {
    .portfolio {
        .page-contents {
            article {
                ul {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}
