@use "variables";
@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

button,
label {
    cursor: pointer;
}

.portfolio {
    text-align: center;
    margin-bottom: 42px;
    .page-header {
        padding: 46px 0 40px;
        h2 {
            font-family: variables.$primary-font, serif;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            color: variables.$text-darkbrown;
            position: relative;
            padding-bottom: 28px;
            margin-bottom: 28px;
            font-weight: 400;
            letter-spacing: 6px;
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 139px;
                height: 1px;
                background-color: #E3B6B1;
            }
        }
        p {
            font-size: 16px;
            font-family: "Nunito", sans-serif;
            padding: 0 2rem;
            font-weight: 200;
            line-height: 28px;
        }
    }
    .page-tabs {
        margin-bottom: 24px;
        width: 100%;
        max-width: 335px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            .page-tab {
                border-bottom: 1px solid #888;
                position: relative;
                width: 50%;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    transition: all .3s ease-in-out;
                    z-index: 1;
                }
                &.on {
                    .btn-tab {
                        color: #181818;
                    }
                    &::after {
                        background-color: #181818;
                    }
                }
            }
            .btn-tab {
                color: #888;
                font-size: 24px;
                padding: 16px 0;
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;
                position: relative;
                font-family: "Baskervville", serif;
                transition: all .3s ease-in-out;
            }
        }
    }
    .page-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAE9E7;
        padding: 44px 20px 90px;
        ol, ul, li {
            list-style: none;
        }
        article {
            &.hide {
                display: none;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 12px;
            }
            li {
                display: none;
                max-height: 298px;
                overflow: hidden;
                position: relative;
                &.show {
                    display: block;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 62px;
                    height: 62px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background: url(./../../img/portfolio/watermark.png) no-repeat center;
                }
            }
            img {
                width: 100%;
            }
        }
        .btn-more {
            border: 1px solid variables.$text-darkbrown;
            color: variables.$text-darkbrown;
            padding: 15px 32px;
            background-color: transparent;
            font-size: 20px;
            margin-top: 30px;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: variables.$text-darkbrown;
                color: #fff;
            }
            &.hide {
                display: none;
            }
        }
    }
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

@media (min-width: 720px) {
    .portfolio {
        .page-header {
            padding-bottom: 22px;
            h2 {
                font-size: 80px;
                line-height: 80px;
                padding-bottom: 24px;
                margin-bottom: 24px;
                &::after {
                    width: 200px;
                }
            }
            p {
                font-size: 18px;
                padding: 0 5rem;
            }
        }
        .page-contents {
            padding-bottom: 120px;
            article {
                ul {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 16px;
                    li {
                        width: 335px;
                        height: 347px;
                        &::after {
                            bottom: 0;
                            right: 0;
                            width: 106px;
                            height: 103px;
                        }
                    }
                }
            }
            .btn-more {
                padding: 17px 32px;
                margin-top: 60px;
            }
        }
    }
}

@media (min-width: 1000px) {
    .portfolio {
        .page-tabs {
            max-width: 460px;
            ul .btn-tab {
                font-size: 32px;
            }
        }
        .page-header {
            h2 {
                letter-spacing: 13px;
            }
            p {
                line-height: 24px;
                padding: 0 320px;
            }
        }
        .page-contents {
            article {
                ul {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}
