<!-- message box -->
    <div class="message-box">
        <button>
            <i></i>
            <span>open</span>
        </button>
        <div>
            <button>
                <i></i>
                <span>instagram</span>
            </button>
            <button>
                <i></i>
                <span>call</span>
            </button>
            <button>
                <i></i>
                <span>message</span>
            </button>
            <button>
                <i></i>
                <span>close</span>
            </button>
        </div>
    </div>
    <!-- //message box -->


    <!--
.message-box {
    position: fixed;
    right: 0;
    bottom: 35vh;
    button {
        border: 1px solid red;
        width: 60px;
        height: 60px;
    }
    div {
        display: flex;
        flex-direction: column;
    }
}
    -->