$primary-font: "Baskervville", serif;
$secondary-font: "Nunito", sans-serif;
$copyright-font: serif;

$primary-color: #f8f6f4;
$text-darkbrown: #725A58;
$text-black: #191919;
$line-pink: #E3B6B1;
$li-color: #725A58;


//Home
$primary-color: #f8f6f4;
$primary-font: "Baskervville", serif;

//Header
$header-color: #725A58;
$li-color: #725A58;
$menu-line: #E3B6B1;

//Testimonials
$testimonial-bk-color: #FAE9E7;

$background-light-pink: #fae9e7;

// about
$light-pink: #FAE9E7;

