// font-family
$primary-font: "Baskervville", serif;
$secondary-font: "Nunito", serif;

// colors following style guide
$primary-color: #f8f6f4;
$dark-brown: #725A58;
$black: #191919;
$pink: #E3B6B1;
$light-pink: #FAE9E7;
$dark-pink: #B99692;
$white: #FFFFFF;
$grey: #888;

//color msg-box
$msgbox-pink: #C13ED4;
$msgbox-skyblue: #6AA2BA;
$msgbox-green: #25D366;