//Body
$primary-color: #f8f6f4;
$primary-font: "Baskervville", serif;
$copyright-font: serif;

//Header
$text-darkbrown: #725A58;
// $header-color: #725A58;

// $background-color: #F8F6F4;
// $text-darkbrown: #725A58;
$text-black: #191919;
$line-pink: #E3B6B1;